<div>
  TEST
</div>
{% schema %}
  {
    "name": "TEC The Story",
    "settings": [
      {
        "type": "text",
        "id": "sub-heading",
        "label": "Sub title",
        "default": "The Story"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Why we created the Espresso Club™"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "With more people making coffee at home than ever before, we talked with and listened to our community and identified the need to remove the barrier to entry of purchasing an espresso machine outright, to make awesome espresso at home. We also found that our customers are spending upwards of $50 a week on coffee... So, we created the Industry Beans Espresso Club™ to package up everything you need to make the ultimate cup of coffee at home, with an easy-to-manage subscription from only $29 per week."
      },
      {
        "type": "video",
        "id": "video",
        "label": "Video"
      }
    ],
    "presets": [
      {
        "name": "TEC The Story",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}